<footer class="{{ .Site.Params.background_color_class | compare.Default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
	<div class="flex justify-between">
		<a class="f4 fw4 hover-white white-70 dn dib-ns pv2 ph3 no-underline" href="{{ .Site.Home.Permalink }}" >
			&copy; {{ with .Site.Copyright | compare.Default .Site.Title }} {{ . | safe.HTML }} {{ now.Format "2006"}} {{ end }}
		</a>
		<div>{{ partials.IncludeCached "social/follow.html" . }}</div>
		<ul>
			{{ range .Site.Menus.footer }}
			<li><a href="{{ .URL }}">{{ .Name }}</a></li>
			{{ end }}
		</ul>
	</div>
	<!-- Scripts -->
	{{ $js := resources.Get "js/custom.js" | resources.Minify | resources.Fingerprint }}
	<script src="{{ $js.Permalink }}"></script>
	<!-- End scripts -->
</footer>
